<div class="container-fluid main_header"></div>
    <header>
        <nav>
            <img src="medlogo.png" alt="Medical Logo" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/doctor">Doctor Availability</a></li>
                <li><a href="#">Medical shop</a></li>
                <li><a href="#about">About</a></li>
                <li></li>
            </ul>
        </nav>
   </header>
</div>